.mainContainer{
    display: flex;
    flex-direction: row;
    margin: auto; 
    margin-top: 0px; 
    width: 100%;
    background: #fff;
    background-clip: content-box;
    min-height: max(65vw, 65vh);
    height: auto;
}

.profileContainer{
    display: flex;
    width: 100%;
    height: auto;
    background-clip: content-box;
    margin-top: max(8vh, 8vw);
    margin-left: 4%;
    flex-direction: row;

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.imgContainer{
    margin-top: 2%;
    width: calc(0.65 * min(60vw, 60vh));
    height: calc(0.65 * min(60vw, 60vh));
    display: block;
}

.infoContainer{
    display: flex;
    flex-direction: column; 
    height: auto;
    gap: 4%; 
    margin-left: 8vw;
    margin-right: 4vw;

    @media screen and (min-width: 1000px) {
        width: calc(100% -  0.65 * min(60vw, 60vh) - 4% - 8vw - max(3vh, 3vw) - 10vw);
    }

    @media screen and (max-width: 1000px) {
        width: calc(100% -  0.65 * min(60vw, 60vh) - 4% - 8vw);
    }
}

.usernameContainer{
    width: auto;
    height: auto;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3131d1; 
    font-weight: 600;
    font-size: max(3.6vh, 4vw); 
    @media screen and (max-width: 800px) {
        text-align: center; 
    }
}

.userInfoContainer{
    display: flex;
    flex-direction: column; 
    width: auto;
    height: auto;

    @media screen and (max-width: 800px) {
        margin-left: 5%;
        margin-top: max(2vh, 2vw);
    }
}

.infoString{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 0.3vh;
}

.nameString{
    color: #747474; 
    font-size: max(2vh, 2vw);
}

.valueString{
    color: #3131d1; 
    font-size: max(2vh, 2vw);
}

.settingsButtonContainer1000px{
    display: none;
}

@media screen and (max-width: 1000px) {
    .settingsButtonContainer1000px{
        display: flex;
        height: max(3vh, 3vw); 
        width: max(3vh, 3vw);
        margin-left: auto;
        margin-right: 2vw;
    }
}

.settingsButtonContainer1080px{
    display: none;
}

@media screen and (min-width: 1000px){
    .settingsButtonContainer1080px{
        display: flex;
        height: max(3vh, 3vw); 
        width: max(3vh, 3vw);
        margin-right: auto;
        margin-top: min(2vh, 2vw);
    }
}

.settingsButtonContainer a{
    width: auto;
    height: auto;
}

.topContainer{
    display: none;
}

.mobileProfileContainer{
    display: none;
}

@media screen and (max-width: 800px) {

    .mobileProfileContainer{
        display: flex;
        width: 100%;
        height: auto;
        background-clip: content-box;
        margin-top: 2%;
        flex-direction: column; 
    }

    .topContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
        background-clip: content-box;
        gap: 10%; 
        justify-content: center;
        align-items: center;
    }   

}